.searcher__form{
  margin: 30px 0;
  text-align: center;
}

.searcher__label{
  display: block;
  margin-bottom: 5px;
}

.searcher__input{
  width: 300px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Ubuntu';
  text-align: center;
  border: 0;
  border-radius: 5px;
  outline: none;
}