.gif {
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.gif__img {
  padding: 5px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.gif__img:hover {
  background-color: #393d46;
}

.gif__title {
  font-size: 1rem;
  margin-bottom: 0;
}

.gif__id {
  font-size: 10px;
}
