.home {
  padding: 0 20px;
}

.home__title {
  font-size: 28px;
  color: rgb(165, 162, 162);
}

.popular__gifs-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.popular__gifs-link {
  display: block;
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.popular__gifs-link:hover {
  color: blue;
}
