.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--container-color);
  border-bottom: 1px solid var(--border-color);
}

.navbar__title {
  color: var(--primary-color);
  margin: 0;
}

.navbar__btn{
  font-size: 18px;
  font-weight: 300;
}
.navbar__btn:hover{
  color: var(--text-color-alt);
}
