.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #3d4354;
}

.navbar__title {
  margin: 0;
}

.navbar__link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: rgb(182, 182, 182);
}
