.App {
  background-color: var(--body-color);
}

body {
  color: var(--text-color);
}

.app__content {
  min-height: 100vh;
  max-width: 95vw;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  .app__content {
    max-width: 85vw;
  }
}
