.App {
  background-color: var(--body-color);
}

body {
  color: var(--text-color);
}

.app__content {
  min-height: 100vh;
  max-width: 85vw;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  /* border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color); */
}
