:root {
  --primary-color: #2795e4;
  --primary-color-alt: #52a5e0;
  --text-color: #eff3f5;
  --text-color-alt: #b3b3b3;
  --content-color: #c8cdd0;
  --content-light: #a0a7ac;
  --border-color: #2a3b47;
  --container-color: #212e36;
  --body-color: #192229;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  padding: 5px 10px;
  color: var(--text-color);
  text-decoration: none;
  transition: .2s ease;
  border: none;
  cursor: pointer;
}